<p>Здравствуйте,
  <%= @resource.email %>!</p>

<p>Ваш пароль недавно был изменен, если это сделали не вы, то рекомендуем его
  <a href="https://cityprice.club/users/password/edit">сбросить</a>. А так же поменять пароль от вашей службы email</p>