<p>Здравствуйте,
  <%= @resource.email %>!</p>

<p>Кто-то хочет сбросить Ваш пароль в системе
  <a href="https://cityprice.club">CityPrice.Club</a>.</p>

<p>
  Если это вы, то перейдите по
  <%= link_to 'этой ссылке', edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>Если это не вы, то просто проигнорируйте этот email.</p>
<p>Ваш пароль не изменится, пока вы сами его не измените.</p>